.view-button {
  position: relative;
  bottom: 211px;
  left: 91px;
}
.firstcontent{
  height: 60vh;
  width: 97%;
  margin-left: 21%;
  background-color: #f0f2f5;
  margin-top: -3%;

  bottom: 276px;
  left: 355px;
}
.css-1633um2-MuiPaper-root {

  box-shadow: none !important;

}