/* *,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
} */

.signup-container {
  min-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  overflow-y: hidden;
}

.signup-image {
  /* margin: 0 auto;
    opacity: 0.75;
    position: relative; */
  min-width: 100%;
  display: block;
  height: 100vh;
  /* opacity: 0.77; */
  background-color: #999999;
  background-image: url("./signuplarge.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: padding-box;
}

.wrapper-check {
  position: absolute;
  padding: 0px 20px;
  /* background-color: red; */
}
.form-signup {
  min-width: 400px;
  /* position: absolute; */
  /* min-height: 100vh; */
  /* height: 500px; */
  /* outline: 2px solid rgba(128, 128, 128, 0.288);s */
  /* background-color: red; */
  /* background: transparent; */
  background-color: rgba(255, 255, 255, 0.808);
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.form-signup * {
  display: grid;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 27px; */
}

.form-signup .signup-header {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(0, 153, 255);
}

.form-signup .btn {
  width: 100%;
  padding: 10px 20px;
  /* margin-top: 40px; */
}

#outlined-basic {
  background-color: rgba(184, 223, 228, 0.301);
  border-radius: 5px;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 13.5px 14px !important;
}

@media only screen and (max-width: 470px) {
  .form-signup {
    min-width: 300px;
    /* max-height: 400px; */
    padding-bottom: 28px;
    /* margin: 5px; */
  }

  .form-sigup .btn {
    margin-top: 0px;
  }
}
